PROGRAM_ID=FUjN9K7C5yHr5NhVrJ7WCgifgDiBJnSDDGQjnNkUDBMN
RPC_URL=http://127.0.0.1:8899
SELLER_URL=http://127.0.0.1:3000
BUYER_KEYPAIR_PATH=
VERIFIER_KEYPAIR_PATH=
PROTOCOL_TREASURY_ADDRESS=
SETTLEMENT_SAFETY_MARGIN_SEC=5
