
PROGRAM_ID=DHyQV6Khe42Papqad63dqkMHxqiKAUMcE4bugiHpZYtb
RPC_URL=https://api.devnet.solana.com

SELLER_URL=http://127.0.0.1:3000

BUYER_KEYPAIR_PATH=
VERIFIER_KEYPAIR_PATH=
PROTOCOL_TREASURY_ADDRESS=

SETTLEMENT_SAFETY_MARGIN_SEC=5
